<html>
    <head>
        <title>{% block page_title %}Changeme{% endblock %}</title>
        {% assets "css_all" -%}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {%- endassets %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Changeme</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() -%}
                    <li><span class="navbar-text">{{ current_user.email }}</span></li>
                    <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
                    {%- else -%}
                    <li><a href="{{ url_for('security.login') }}">Login</a></li>
                    {%- endif %}
                </ul>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            {% block flash_messages %}
            {% include "layouts/_messages.html" %}
            {% endblock %}
        </div>

        <div class="container">

            {% block body %}
            Body
            {% endblock %}

        </div><!-- /.container -->

        {% assets "js_vendor" -%}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "js_main" -%}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
